.corpo{
    margin-top: -80px
}

.emptyOrcamento{
    color:rgb(95, 94, 94);
    margin-top: 100px;
}

header{
    text-align: center ;
}

.headerClose{
    display: flex;
    align-content: center;
    justify-content: space-between;
}


.deleteIcon{
    color: rgb(255, 41, 41);
}


.pModalTxt {
    font-size: 16px;
}
.pModalSure {
    font-size: 20px;
    font-weight: bold;
}

.btnModal{
    display: flex;
    justify-content: space-around;
}

.btnModal button{
    width: 40%;
}

h1{
    margin-bottom: 20px;
}

.caixaOrcamento{
    display: flexbox;
    background-color: var(--footerBg);
    border-radius: 20px;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 20px;
    padding: 10px;
}

strong{
    font-size: 20px;
    align-self: center;
}


.dataOrcamento{
    align-items: flex-end;
}

.btnDelete{
    width: 23px;
    height: 27px;
    cursor: pointer;
    color:rgb(255, 41, 41);

}

.btnDelete:hover{
    color: rgb(252, 118, 118);
}


hr{
    border-style: none none dashed;
    border-top:2px dashed rgb(131, 131, 131);
}

.whatsappLink{
    display: block;
    width: 150px;
}

.labelP{
    display: flex;
    align-content: center;
}

.labelP label{
    margin-right: 10px;
}

.icon{
    margin-top: -2px;
}

#email{
    margin-top: 20px;
}

#telefone{
    background-color: green;
    width: 150px;

    border-radius: 15px;

    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

.desc{
    margin-top: 15px;
}

.desc label{
    font-weight: bold;
}

.descricao{
    text-align: justify;
}

.price{
    margin-top: 15px;
}

.priceFinalizado{
    display: flex;
    margin-top: 15px;

    font-size: 30px;
}

.priceFinalizado p{
    margin-left: 20px;
    font-weight: bold;
}

input{
    margin-left: 10px;
    padding-left: 15px;
    width: 100px;
}

.btnFinalizar{
    width: 100%;
}