.footerApp{
    color: var(--footerTxt);
    background-color: var(--footerBg) ;
    width: 100%;
    padding: 15px;
    text-align: center;
}

.mapAddress{
    text-align: center;
}

.mapAddress h2{
    margin-top: 20px;
}

.mapTxtMark{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.mapMark{
    color: #ff6600;
    margin-right: 5px;
    
}

.footerImg{
    width: 100%;
    height: 300px;
}

.devName{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.map{
    width: 100%;   
}

.devTxt{
    font-size: 14px;
    font-weight: bold;
    
}

.name{
    font-size: 18px;
    color: var(--mainOrange);
    margin-left: 5px;
}

a{
    text-decoration: none;
}

a:hover{
    color: #c95305;
}
